.Button {
  border: none;
  color: #fff;
  opacity: 1;
  cursor: pointer;
  max-width: 60px;
  max-height: 60px;
}

.Button:hover {
  opacity: 0.8;
}

.Button img {
  max-width: 60px;
  max-height: 60px;
}
