.Quote {
  font-family: 'Libre Baskerville', serif;
}

.Quote-author {
  margin-bottom: 10px;
}

.Quote-author-title {
  color: #897859;
  text-align: left;
  font-size: 1.85em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.Quote-author-deco {
  width: 900px;
}

.Quote-text {
  box-sizing: border-box;
  border: 1px solid #373938;
  width: 900px;
  height: 330px;
  padding: 10px;
  background: rgba(24, 25, 27, 0.65);
  border-radius: 1px;
  color: #c3c29c;
}

.Quote-text p {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: justify;
  margin-top: 0;
}