.Quote {
  font-family: 'Libre Baskerville', serif;
  color: #897859;
  width: 60%;
  padding: 40px 50px;
  margin: 20px auto auto auto;
}

.Quote-author {
  color: #9D8A5D;
  text-align: left;
  margin: 20px 0;
  font-size: 1.85em;
  font-weight: 400;
}

.Quote-text {
  border: 1px solid #373938;
  padding: 10px;
  background: rgba(24, 25, 27, 0.65);
  border-radius: 1px;
}

.Quote-text p {
  font-weight: 400;
  font-size: 1.25em;
  border-bottom: 1px solid #373938;
  line-height: 1.5em;
  display: inline;
}
